* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;

}

img{
  margin-left: 330px;
}

h1{
color: #FFF;
font-size: 100px;
font-style: normal;
font-weight: 900;
line-height: normal;
margin: 50px 120px 0px 120px
}

h2{
color: #FFF;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 100px 300px 40px 300px

}

input{
width: 342px;
padding: 13px 23px 30px 16px;
margin-left:70px ;
margin-right:70px ;
align-items: center;
border-radius: 14px;
border: 1px solid rgba(255, 255, 255, 0.20);
background: rgba(255, 255, 255, 0.25);
color: #ffffff;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
opacity: 0.7;
}

input[type=number]::-webkit-inner-spin-button
{appearance: none;}

.place-min{
margin-right: 1px;
}

button{
width: 342px;
height: 72px;
padding: 0px 76px;
justify-content: center;
border-radius: 10px;
background: #AEC346;
box-shadow: 0px 18px 40px 0px rgba(174, 195, 70, 0.35);
color: #FFF;
text-align: center;
font-size: 36px;
font-weight: 700;
color: #FFF;
font-size: 36px;
font-weight: 700;
line-height: 2.5px;
margin: 50px 300px 0px 300px;
}